/* src/assets/fonts/fonts.css */
@font-face {
    font-family: 'Alfa Slab One';
    src: url('../fonts/AlfaSlabOne-Regular.ttf') format('ttf'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/Helvetica.ttf') format('ttf'); 
    font-weight: normal;
    font-style: normal;
}
