@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/index.css or src/globals.css */
@import './fonts/font.css';



@layer components {
  .width-container {
    @apply lg:w-[1000px] xl:w-[1100px] md:w-[900px] container  mx-auto px-4 py-2 md:px-6 lg:px-2;
  }
}


.logo-container{
  width: 60px;
  height: 60px;
}

.logo-container img{
  transform: scale(3);
}

